# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs
/classwork/Chatper111/.vs/Chatper111
/classwork/HelloWorld1
/classwork/Chatper111/HelloWolrd11/x64/Debug
/classwork/Chatper111/HelloWolrd11/HelloWolrd11.vcxproj.user
/classwork/Chatper111/x64/Debug
*.sln
/.gitignore
/.gitignore
/.gitignore
